/* Main */

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "vazir";
    overflow: hidden;
    --clr-gray-light: #b0bec5;
    background-color: #eeeeee;
}

.container {
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.wave-navbar-articles-form{
    transform: rotate(180deg);
    width: 100%;
    z-index: -1;
    position: absolute;
    display: block;
    margin-top: -1.7rem;
}

.title{
    text-align: center;
    font-weight: 100;
    padding-top: 2.5rem;
    font-size: 1.75rem;
}

.cards-wrapper{
    margin-top: 15rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 15.625rem));
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    column-gap: 1.5rem;
}

.title{
    text-align: center;
    font-weight: 100;
    padding-top: 1.5rem;
    font-size: 2rem;
}

.card{
    grid-column: auto/span 1;
    grid-row: auto/span 1;
    overflow: hidden;
    min-height: 20rem;
    box-shadow: 0 .125rem .5rem 0 var(--clr-gray-light);
    text-align: center;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: right;
    direction: rtl;
}

.card .article-thumbnail, .card .title-article{
    padding: 1rem;
}

.card .title-article{
    line-height: 2rem;
    margin: 0;
    padding-top: .5rem;
    font-weight: 300;
    font-size: 1.2rem;
}

.card .article-thumbnail{
    max-width: 15rem;
}

.card .visit-btn{
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #1DBA9B;
    padding: .7rem;
    cursor: pointer;
}

.f{
    background-color: #BBEBE1;
}

.wave-footer{
    display: block;
}

.footer-wrapper>p{
    color: #688BA9;
    text-align: center;
    font-size: .95rem;
    font-family: "TTNorms";
    margin: 0;
    padding-bottom: .4rem;
}

@media only screen and (max-width: 1200px) {
    .title{
        padding-top: .4rem;
    }

    .cards-wrapper{
        margin-top: 11rem;
    }
}

@media only screen and (max-width: 992px) {
    .title{
        font-size: 1.6rem;
        padding-top: .5rem;
    }

    .cards-wrapper{
        margin-top: 9rem;
    }
}

@media only screen and (max-width: 768px) {
    .title{
        padding-top: .2rem;
    }

    .cards-wrapper{
        margin-top: 6rem;
    }
}

@media only screen and (max-width: 576px) {
    .wave-navbar-articles-form{
        width: 44rem;
    }
    
    .title{
        font-size: 1.5rem;
        padding-top: .1rem;
    }

    .cards-wrapper{
        margin-top: 5rem;
    }   
}