@font-face {
    font-family: samim-bold;
    src: url(/assets/fonts/samim/samim-bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: samim;
    src: url(/assets/fonts/samim/samim-regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;    
}

@font-face {
    font-family: vazir-bold;
    src: url(/assets/fonts/vazir/vazir-bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: vazir;
    src: url(/assets/fonts/vazir/vazir-regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: vazir-light;
    src: url(/assets/fonts/vazir/vazir-light.ttf) format('truetype');
    font-style: normal;
    font-weight: lighter;
}