/* Main */

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "vazir";
    overflow-x: hidden;
    background-image: 
    radial-gradient(at 47% 33%, hsl(205.59, 53%, 50%) 0, transparent 59%), 
    radial-gradient(at 82% 65%, hsl(271.43, 67%, 64%) 0, transparent 55%);
    direction: rtl;
}

.container {
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.input-forms {
    /* backdrop-filter: blur(0.25rem) saturate(180%); */
    background-color: rgba(77, 77, 86, 0.7);
    border-radius: 0.75rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    /* padding: 4rem 6rem; */
    padding: 4rem;
    max-width: 24rem;
}

.input-forms .inputbox{
    position: relative;
    width: 18rem;
}

.input-forms .inputbox .inputbox__field{
    position: absolute;
    right: .1rem;
    top: .1rem;
    outline: none;
    width: 100%;
    border-radius: .7rem;
    border: .125rem solid #e1e5ee;
    background: none;
    color: #fff;
    padding: .35rem .75rem;
}

.input-forms .inputbox .inputbox__field:hover{
    border-color: #adffff;
}

.input-forms .inputbox .inputbox__field:focus{
    border-color: #18ffff;
}

.input-forms .inputbox .inputbox__label{
    position: absolute;
    right: .7rem;
    top: .65rem;
    padding: .14rem;
    color: #fff;
    cursor: text;
    font-size: .95rem;
    transition: 
        top 200ms ease-in, 
        right 200ms ease-in,
        font-size 200ms ease-in;
    background-color: #536379;
}

.input-forms .inputbox__field:focus ~ .inputbox__label,
.inputbox__field:not(:placeholder-shown).inputbox__field:not(:focus)~.inputbox__label{
    top: -.7rem;
    font-size: .8rem;
    right: 1rem;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    margin-top: 1.75rem;
}

.buttons .btn{
    min-width: 5.51rem;
    border: none;
    padding: 0.6rem 1.28rem;
    border-radius: 0.75rem;
    font-size: .95rem;
    text-align: center;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.198);
    transition: transform 200ms, box-shadow 200ms;
    cursor: pointer;
}

.buttons .green{
    background-color: #2ecc71;
    box-shadow: 0rem 0.375rem 0 #007a61, 0 0.6875rem rgba(0, 0, 0, 0.109);
}

.buttons .gray{
    background-color: #bdc3c7;
    box-shadow: 0rem 0.375rem 0 rgba(163, 163, 163, 0.45), 0 0.6875rem rgba(0, 0, 0, 0.109);

}

.green:active{
    transform: translateY(0.25rem);
    box-shadow: 0 0.1875rem 0 #094c66;
}

.gray:active{
    transform: translateY(0.25rem);
    box-shadow: 0 0.25rem rgb(163, 163, 163);
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 576px) {
    .input-forms .inputbox{
        width: 15rem;
    }

    .input-forms{
        max-width: 19rem;
    }
}