/* Main */

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "vazir";
    overflow-x: hidden;
}

.container {
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
}

/* navbar section */

.wave-navbar{
    transform: rotate(180deg);
    width: 100%;
    z-index: -1;
    position: absolute;
    display: block;
}

.wave-navbar path{
    z-index: -1;
}

.wave-navbar-wrapper{
    z-index: -1;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 5rem;
}

.navbar-wrapper .logo{
    flex-basis: 7rem; /*125px*/
}

.navbar-wrapper .logo .logo-img{
    display: block;
    width: 100%; 
}

.menu-items-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-items{
    list-style-type: none;
    direction: rtl;
    display: flex;
    margin: 0;
    padding-right: 0;
}

.menu-items .item{
    display: inline;
}

.menu-items .item .item-link{
    text-decoration: none;
    padding: 0 1rem;
    color: #081D43;
    position: relative;
    padding-bottom: .5rem;
}

.item-link::before{
    content: '';
    position: absolute;
    width: 100%;
    height: .125rem;
    border-radius: .5rem;
    background-color: #27ae60;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.item-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.dropdown-menu{
    cursor: pointer;
    font-size: 1.6rem;
    display: none;
}

.dropdown-wrapper .dropdown-section>.link{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-wrapper {
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
  }
  
  .link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
  }
  
  .dropdown-section.active > .link,
  .link:hover {
    color: black;
  }

  .dropdown-section.active{
    pointer-events: none;
  }
  
  .dropdown-section {
    position: relative;
  }
  
  .dropdown-menu-section {
    position: absolute;
    right: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, 
                transform 150ms ease-in-out;
  }
  
  .dropdown-section.active > .link + .dropdown-menu-section {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
  }
  
  .dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

/* landing section */
.landing{
    /* margin-top: 5.3rem; */
    margin-bottom: -6.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #081D43;
}

.landing .landing-img-left{
    flex-basis: 35rem;
}

.landing .landing-img-left .landing-img{
    display: block;
    width: 100%;
}

.landing .landing-title-right{
    direction: rtl;
}

.landing .landing-title-right h1{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
    font-family: "TTNorms";
}

.landing .landing-title-right p{
    font-size: 1.1rem;
    margin-bottom: 1.1rem;
}

.landing .landing-title-right .consultant-btn{
    outline: none;
    border: none;
    color: #fff;
    border-radius: 1rem;
    padding: .5rem;
    cursor: pointer;
    background-color: #1DBA9B;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.198);
    transition: transform 200ms, box-shadow 200ms;
    box-shadow: 0rem 0.375rem 0 #094c66, 0 0.6875rem rgba(0, 0, 0, 0.109);
}

.landing .landing-title-right .consultant-btn:active{
    transform: translateY(0.25rem);
    box-shadow: 0 0.1875rem 0 #094c66;
}

/* main section */
.d{
    background-color: #BBEBE1;
}

.services .upper-services-wave{
    display: block;
}

.services .bottom-services-wave{
    display: block;
    transform: rotate(180deg);
}

.services-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-wrapper>.left-side{
    text-align: right;
    color: #081D43;
}

.services-wrapper>.left-side p{
    max-width: 30rem;
    line-height: var(--line-height);
}

.services-wrapper>.right-side{
    flex-basis: 30rem;
}

.services-wrapper>.right-side .services-illustration{
    width: 100%;
    display: block;
}

/* option section */
.options-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -7.5rem;
    margin-bottom: -7.5rem;
}

.options-wrapper>.left-side{
    flex-basis: 45rem;
}

.options-wrapper>.left-side>.option-illustration{
    display: block;
    width: 100%;
}

.options-wrapper>.right-side{
    color: #081D43;
    direction: rtl;
}

.options-wrapper>.right-side p{
    line-height: var(--line-height);
}

/* team section */
.team-wrapper .members{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.team-wrapper .members .member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-wrapper .members .member:nth-child(2){
    align-self: flex-start;
    margin-top: -2rem;
}

.team-wrapper .members .member .profile-img-wrapper{
    flex-basis: auto;
    max-width: 15rem;
}

.team-wrapper .members .member .profile-img-wrapper .profile-img{
    width: 100%;
    border-radius: 2rem;
    border: 0.0625rem solid black;
}

.team-wrapper .members .member .name-section p{
    margin-top: .4rem;
    margin-bottom: .5rem;
    font-size: 1.1rem;
}

.team-wrapper .members .member .headline-section p{
    margin: 0;
    max-width: 10rem;
    text-align: center;
    line-height: 1.4rem;
    opacity: 80%;
}

/* customers satisfations section */
.customer-satisfaction{
    color: #081D43;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
    position: relative;
}

.customer-satisfaction .head-title h2{
    font-size: 1.9rem;
}

.customer-satisfaction .customer-info .customer-info-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.customer-satisfaction .customer-info{
    max-width: 22rem;
    animation: fadeVisibility 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.customer-satisfaction .customer-info:not(.active-info){
    display: none;
}

.customer-satisfaction .customer-info .customer-info-wrapper .customer-logo-brand{
    flex-basis: 5rem;
}

.customer-satisfaction .customer-info .customer-info-wrapper .customer-logo-brand .customer-logo-img{
    width: 100%;
}

.customer-satisfaction .customer-info .customer-info-wrapper .customer-name{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.customer-satisfaction .customer-info .customer-info-wrapper .customer-name p:nth-child(1){
    font-weight: bold;
    margin: 0;
    font-size: 1.2rem;
}

.customer-satisfaction .customer-info .customer-info-wrapper .customer-name p:nth-child(2){
    font-weight: 100;
    font-size: 1rem;
    margin: 0;
}

.customer-satisfaction .carousel-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.customer-satisfaction .carousel-buttons button{
    border-radius: 50%;
    border: 0;
    font-weight: 400;
    background-color: #10ac84;
    color: #f1f2f6;
    cursor: pointer;
    width: 2.3rem;
    height: 2.3rem;
}

.customer-satisfaction .carousel-buttons button:hover{
    filter: drop-shadow(0 0 .25rem #121212);
}

.customer-satisfaction .carousel-buttons button#previous{
    margin-left: 1.25rem;
}
  
.customer-satisfaction .carousel-buttons button#next{
    margin-right: 1.25rem;
}

.customer-satisfaction-wrapper .upper-customer-wave{
    display: block;
}

.customer-satisfaction-wrapper .bottom-customer-wave{
    display: block;
    transform: rotate(180deg);
}

.e{
    background-color: #BBEBE1; 
}

.customer-message .message-wrapper{
    padding: .6rem 1rem;
    backdrop-filter: blur(.1rem) saturate(180%);
    border-radius: 1rem;
    border: .125rem solid rgba(209, 213, 219, 0.3);
    margin: 0 auto;
    max-width: 18rem;
    background-color: rgba(255, 255, 255, 0.75);
}

.customer-message .message-wrapper .message{
    padding: 0;
    margin: 0;
    text-align: right;
    line-height: 1.6rem;
}

/* footer section */
.f{
    background-color: #BBEBE1;
}

.wave-footer{
    display: block;
}

.footer-wrapper>p{
    color: #688BA9;
    text-align: center;
    font-size: .95rem;
    font-family: "TTNorms";
    margin: 0;
    padding-bottom: .4rem;
}