/* Main */

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "vazir";
    overflow: hidden;
    --clr-gray-light: #b0bec5;
    background-color: #eeeeee;
}

.container {
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.wave-navbar-workSample-form{
    transform: rotate(180deg);
    width: 100%;
    z-index: -1;
    position: absolute;
    display: block;
    margin-top: -1.7rem;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-wrapper .logo{
    flex-basis: 7rem; /*125px*/
}

.navbar-wrapper .logo .logo-img{
    display: block;
    width: 100%; 
}

.menu-items-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-items{
    list-style-type: none;
    direction: rtl;
    display: flex;
    margin: 0;
    padding-right: 0;
}

.menu-items .item{
    display: inline;
}

.menu-items .item .item-link{
    text-decoration: none;
    padding: 0 1rem;
    color: #081D43;
    position: relative;
    padding-bottom: .5rem;
}

.item-link::before{
    content: '';
    position: absolute;
    width: 100%;
    height: .125rem;
    border-radius: .5rem;
    background-color: #27ae60;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.item-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.dropdown-menu{
    cursor: pointer;
    font-size: 1.6rem;
    display: none;
}

.title-wrapper{
    margin-top: 9rem;
}

.title-wrapper .title{
    text-align: center;
    font-size: 1.7rem;
    /* position: relative; */
    font-weight: 300;
    color: #080808;
    transition: all 0.4s ease 0s;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1rem;
    gap: 1.375rem;
}

.title-wrapper .title:after, .title-wrapper .title:before{
    content: " ";
    display: block;
    border-bottom: .125rem solid #ccc;
    background-color:transparent;
}

.cards-wrapper{
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 15.625rem));
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    column-gap: 1.5rem;
}

.part1-wrapper ,.part2-wrapper{
    width: 100%;
    display: block;
}

.card{
    grid-column: auto/span 1;
    grid-row: auto/span 1;
    overflow: hidden;
    height: 30rem;
    box-shadow: 0 .125rem .5rem 0 var(--clr-gray-light);
    text-align: center;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card .banner-img{
    position: absolute;
    background-image: url(/assets/images/1.png);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card .profile-img{
    width: 5rem;
    clip-path: circle(5rem at center);
    margin-top: 7rem;
}

.card .name{
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    max-width: 14.375rem;
    line-height: 1.9rem;
}

.card .description{
    margin: 1rem auto;
    font-size: .9rem;
    line-height: 1.375rem;
    max-width: 14.375rem;
}

.card .visit-btn, .card .detail-btn{
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #1DBA9B;
    padding: .7rem;
    cursor: pointer;
}

.card .detail-btn{
    background-color: #f39c12;
}

.f{
    background-color: #BBEBE1;
}

.wave-footer{
    display: block;
}

.footer-wrapper>p{
    color: #688BA9;
    text-align: center;
    font-size: .95rem;
    font-family: "TTNorms";
    margin: 0;
    padding-bottom: .4rem;
}

@media only screen and (max-width: 1200px) {
    .title{
        padding-top: .4rem;
    }

    .title-wrapper{
        margin-top: 6rem;
    }

    .cards-wrapper{
        margin-top: 6rem;
    }
}

@media only screen and (max-width: 992px) {
    .title{
        font-size: 1.6rem;
        padding-top: .5rem;
    }

    .title-wrapper{
        margin-top: 4rem;
    }

    .cards-wrapper{
        margin-top: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    .title{
        padding-top: .2rem;
    }

    .title-wrapper{
        margin-top: 3rem;
    }

    .cards-wrapper{
        margin-top: 4rem;
    }

    .navbar-wrapper .menu-items{
        /* display: none; */
        position: fixed;
        top: 0;
        left: -192px;
        bottom: 0;
        background-color: #D0F1EA;
        width: 12rem;
        flex-direction: column;
        padding: 2rem 1rem;
        transition: .3s all;
        z-index: 1;
        filter: drop-shadow(.3125rem .625rem .9375rem rgba(8,9,13,.4));
    }

    .navbar-wrapper .menu-items .item{
        margin-top: 1.2rem;
        font-size: 1.1rem;
        border-bottom: .09rem solid #666;
    }

    .menu-items-wrapper .dropdown-menu{
        display: block;
    }

    .navbar .navbar-wrapper .logo{
        flex-basis: 6rem;
    }
}

@media only screen and (max-width: 576px) {
    .wave-navbar-workSample-form{
        width: 44rem;
    }
    
    .title{
        font-size: 1.5rem;
        padding-top: .1rem;
    }

    .title-wrapper{
        margin-top: 2rem;
    }

    .cards-wrapper{
        margin-top: 3rem;
    }  
    
    .navbar .navbar-wrapper .logo{
        flex-basis: 5.5rem;
    }

    .item-link::before{
        display: none;
    }
}